.myMain {
    display: flex;
}

/* Contact List side */
.contactList {
    overflow-y: scroll;
    width: 38rem;
    height: 100%;
    background-color: #ffffff;
}

button {
    margin-top: 1rem;
}

.btn {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.newContact {
    height: 28px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.person {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: #f6f7f8;
    display: flex;
    justify-content: start;
    border-radius: 0.5rem;
    align-items: center;
}

.person:hover {
    background-color: #c4c6ca;
    color: #ffffff;
}

.person:active {
    background-color: #293647; /* richtige Pseudoklasse suchen */
    color: #ffffff;
}

.initial {
    margin-right: 4rem;
    width: 3.5rem;
    height: 3.5rem;
    align-content: center;
    border-radius: 6rem;
    background-color: orange; /* muss noch angepasst werden */
    color: white;
    font-size: 2rem;
}

.mail {
    color: #29abe2;
    text-align: start;
}

/* Details side */
.details {
    width: 100%;
    background-color: #f6f7f8;
}

.contact-headline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-left: 120px;
}

h2 {
    font-size: 60px;
    font-weight: bolder;
}

.separating-line {
    width: 2px;
    height: 4rem;
    background-color: #29abe2;
    margin-left: 20px;
    margin-right: 20px;
}

.team {
    color: #404447;
    font-size: 24px;
}

/* deteils view */
.namesDetails {
    position: fixed;
    margin-top: 5rem;
    margin-left: 5rem;
}

.contactInformations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.initialOverlay {
    margin-right: 2rem;
    width: 6rem;
    height: 6rem;
    align-content: center;
    border-radius: 6rem;
    background-color: orange; /* muss noch angepasst werden */
    color: white;
    font-size: 4rem;
}

.infoNames {
    font-size: 2.5rem;
}
.contactIcons{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
}

.edit {
    display: flex;
}

.editIcon {
    height: 1.5rem;
    cursor: pointer;
}

.editText {
    color: #404447;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3rem;
}

.info {
    margin-bottom: 2rem;
}

h4 {
    text-align: start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* edit, and add new Contact Overlay */
.newContactOverlay,
.editContactOverlay {
    height: 40rem;
    width: 80rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.headDiv {
    height: 100%;
    width: 30rem;
    border-bottom-left-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    background-color: #293647;
}

.contactLogo {
    height: 5rem;
    margin-top: 8rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.addHeadline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
}

.addTastText {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: #ffffff;
}

.line {
    height: .2rem;
    width: 7rem;
    background-color: #29abe2;
    margin-top: 1rem;
    margin-left: 3rem;
}

.editDiv {
    height: 100%;
    width: 49rem;
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: #ffffff;
}

.closeDiv {
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: end;
}

.close {
    height: 2rem;
    cursor: pointer;
}

.profilDiv {
    display: flex;
    align-items: center;
}

.profileInitials {
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin-left: 4rem;
    margin-right: 2rem;
    background-color: aquamarine;
    color: #f6f7f8;
}

.addNewContactDiv {
    margin-top: 1rem;
    margin-left: 3.5rem;
    margin-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid;
    border-width: 0.06rem;
    border-color: #a6adb3;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.addNewContact {
    border: 0;
    width: 20rem;
    height: 3rem;
}

.addNewContact:focus {
    outline: 2px solid #29abe2;
    border-color: #29abe2;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.addNewContactIcon {
    width: 2rem;
}

.accept {
    display: flex;
    margin-left: 20rem;
}

.accept > .create-button {
    margin-left: 1rem;
}

.save-close {
    width: 2rem;
}
