.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
    height: 96px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
}

.header-content>p {
    font-size: 1.25rem;
    color: #293647;
    font-weight: 500;
    padding: 0 0 0 340px;
}

.header-user {
    display: flex;
    align-items: center;
    padding-right: 3rem;
    gap: 1rem;
    font-size: 1.25rem;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid black;
    font-size: 1.25rem;
    background: white;
    color: #2aabe2;
}

.contentspace-html {
    width: 100%;
    height: 100%;
    position: relative;
}

.contentspace-html>h1 {
    position: absolute;
    top: 110px;
    left: 6rem;
    font-size: 60px;
    padding: 0;
    font-weight: 700;
}

.title_description_date {
    display: flex;
    position: absolute;
    left: 6rem;
    top: 231px;
}

.title_description_date .container1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title_description_date .input-group {
    padding: 0 0 16px 0;
    margin: 0;
}

.title_description_date .input-group input {
    width: 440px;
    padding: 12px 21px;
    font-size: 1.25rem;
}

.add-task {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-task span {
    font-size: 1.25rem;
    text-align: start;
}

textarea {
    width: 440px;
    font-size: 1.25rem;
    height: 120px;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    resize: none;
    padding: 18px 16px;
}

.add-task .input-icon {
    position: absolute;
    right: 4px;
    bottom: 16px;
    top: unset;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.add-task .date-icon {
    position: absolute;
    right: 16px;
    bottom: 8px;
}

.dividing-strips {
    position: absolute;
    border: 1px solid #D1D1D1;
    height: 424px;
    left: 584px;
    top: 231px;
}

.title_description_date .date {
    padding: 0px 0 12px 0;
}

.task-attribute {
    position: absolute;
    left: 632px;
    top: 231px;
    text-align: start;
}

.task-attribute .container2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.task-attribute .input-group {
    padding: 0;
    margin: 0;
}

.task-attribute .input-group input {
    width: 440px;
    padding: 12px 16px;
    font-size: 1.25rem;
}

.task-attribute span {
    font-size: 1.25rem;
}

.add-task-button {
    display: flex;
    justify-content: space-between;
}

.priority button {
    color: black;
    background-color: white;
    font-weight: 400;
}

.add-task select {
    width: 440px;
    padding: 10px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
}

label {
    font-size: 1.25rem;
}

.add-task-button {
    display: flex;
    width: 136px;
    height: 56px;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    padding: 0;
}

#urgent.active,
#medium.active,
#low.active {
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px !important;
}

#urgent,
#medium,
#low {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
}

#urgent:hover,
#medium:hover,
#low:hover {
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.priority-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.priority-buttons button {
    margin: 0;
}

.priority-buttons button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.priority {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.priority form {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.urgent {
    background-color: #FF3E00 !important;
    color: white !important;
}

.urgent img,
.medium img,
.low img {
    filter: brightness(0) invert(1);
}

.medium {
    background-color: #FFA800 !important;
    color: white !important;
}

.low {
    background-color: #7AE229 !important;
    color: white !important;
}

input[type="text"] {
    padding: 12px 0px 12px 16px;
}

#category-dropdown-selected,
#assigned-to-dropdown-selected {
    width: 440px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    background: #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.assigned-dropdown-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 12px 16px;
    max-height: 300px;
}

#category-dropdown-selected {
    padding: 12px 16px;
}

.custom-dropdown-options,
#assigned-to-options {
    width: 440px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
    max-height: 300px;
    cursor: pointer;
}

#custom-dropdown-options,
#assigned-to-dropdown-options {
    border-top: none;
    border-top: none;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    gap: 8px;
}

#category-dropdown-options.hidden,
#assigned-to-dropdown-options.hidden {
    display: none;
}

#category-dropdown-options div:hover,
#assigned-to-dropdown-options div:hover {
    background: #f0f0f0;
}

#assigned-to-dropdown-selected img {
    object-fit: scale-down;
}

.subtasks-icon {
    position: absolute;
    right: 11px;
    bottom: 12px;
    cursor: pointer;
    display: flex;
    gap: 4px;
}

.create-button,
.clear-button {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

.clear-button {
    background-color: white;
    color: rgb(41, 54, 71);
    font-weight: normal;
    border: 1px solid rgb(41, 54, 71);
}


.create-clear-buttons {
    display: flex;
    justify-content: end;
    position: absolute;
    gap: 16px;
    left: 763px;
    top: 793px;
}

.user-dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-name-dropdown {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name-dropdown span {
    font-size: 12px;
}

.assigned-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task input[type="text"] {
    width: 440px;
    font-size: 1.25rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    height: 48px;
}

.add-task input[name="add-task-input3"] {
    border: none;
    height: unset;
}

#assigned-to-dropdown-selected:hover,
#category-dropdown-selected:hover {
    border: 1px solid #a89a9a;
}

.title_description_date .input-group input[type="date"] {
    padding: 12px 16px;
    height: 48px;
}

.required {
    position: absolute;
    top: 830px;
    left: 6rem;
}

.show-contacts-add-task {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.contact-items {
    height: 48px;
    width: 48px;
    padding: 8px;
    border: #293647 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    background: blue;
}

.assigned-arrow {
    padding: 12px 16px 12px 0;
}

.input-warning {
    color: red;
    font-size: 12px !important;
}

.required-star {
    color: #e74c3c;
}

.subtask-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
}

.subtask-item {
    cursor: pointer;
    margin-top: 8px;
    padding-left: 28px;
    border-radius: 8px;
    transition: background 0.2s, transform 0.2s;
}

#submit-subtask {
    filter: brightness(0) saturate(100%) invert(17%) sepia(15%) saturate(1112%) hue-rotate(176deg) brightness(95%) contrast(90%);

}

.subtask-wrapper {
    border-left: solid 1px #A8A8A8;
    height: 24px;
}

.subtask-actions {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    pointer-events: none;
    transition: opacity 0.1s;
    transition: background 0.2s, transform 0.2s;
}

.subtask-item:hover .subtask-actions {
    opacity: 1;
    border-radius: 8px;
    pointer-events: auto;
    background: #EEEEEE;
    transform: translateY(-1px);
}

.subtasks-container:hover {}

.subtasks-container {
    border-radius: 8px;
    transition: background 0.2s, transform 0.2s;
}

.subtask-item span {
    font-size: 1rem;
}

.subtask-actions img:hover {
    transform: translateY(+1px);
}

.subtask-item:hover {
    background: #EEEEEE;
    transform: translateY(-1px);
}

.category-option {
    padding: 12px 16px;
    transition: background 0.2s, transform 0.2s;
}

.category-option:hover {
    background: #EEEEEE;
    border-radius: 8px;
}

.category-option {
    padding: 12px 16px;
    transition: background 0.2s, transform 0.2s;
}

.category-option:hover {
    background: #EEEEEE;
    border-radius: 8px;
}

.category-option-text {
    display: inline-block;
    transition: transform 0.2s;
}

.category-option:hover .category-option-text {
    transform: translateX(1px);
}