.myMain {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 14.8rem;
}

.main-content {
    display: flex;
}

/* Contact List side */
.contactList {
    overflow-y: scroll;
    width: 40rem;
    height: 100%;
    background-color: #ffffff;
}

button {
    margin-top: 1rem;
}

.btn {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.addContactBtn-mobile,
.editContactBtn-mobile,
.contact-headline-mobile,
.closeMobile  {
   display: none;
}

.editMobile {
    width: 120px;
    height: 120px;
    border-color: #404447;
}

.newContact {
    height: 28px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.person {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: #f6f7f8;
    display: flex;
    justify-content: start;
    border-radius: 0.5rem;
    align-items: center;
}

.person:hover {
    background-color: #c4c6ca;
    color: #ffffff;
}

.person:active {
    background-color: #293647;
    color: #ffffff;
}

.initial {
    margin-right: 4rem;
    width: 3.5rem;
    height: 3.5rem;
    align-content: center;
    border-radius: 10rem;
    color: white;
    font-size: 2rem;
}

.mail {
    color: #29abe2;
    text-align: start;
}

/* Details side */
.details {
    width: 100%;
    background-color: #f6f7f8;
}

.contact-headline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-left: 120px;
}

h2 {
    font-size: 60px;
    font-weight: bolder;
}


.separating-line {
    width: 2px;
    height: 4rem;
    background-color: #29abe2;
    margin-left: 20px;
    margin-right: 20px;
}

.team {
    color: #404447;
    font-size: 24px;
}

/* deteils view */
.namesDetails {
    position: fixed;
    margin-top: 5rem;
    margin-left: 5rem;
}

.contactInformations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.initialOverlay {
    margin-right: 2rem;
    width: 6rem;
    height: 6rem;
    align-content: center;
    border-radius: 10rem;
    color: white;
    font-size: 4rem;
}

.infoNames {
    font-size: 2.5rem;
}
.contactIcons{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
}

.editOverlay {
    display: flex;
    align-items: center;
}

.editIcon {
    height: 1.5rem;
    cursor: pointer;
}

.editText {
    color: #404447;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3rem;
}

.info {
    margin-bottom: 1.5rem;
}

h4 {
    text-align: start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.phone {
    color: #000000;
}

/* edit, and add new Contact Overlay */
.newContactOverlay,
.editContactOverlay {
    height: 40rem;
    width: 80rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.headDiv {
    height: 100%;
    width: 30rem;
    border-bottom-left-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    background-color: #293647;
}

.contactLogo {
    height: 5rem;
    margin-top: 8rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.addHeadline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
}

.addTastText {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: #ffffff;
}

.line {
    height: .2rem;
    width: 7rem;
    background-color: #29abe2;
    margin-top: 1rem;
    margin-left: 3rem;
}

.editDiv {
    height: 100%;
    width: 49rem;
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: #ffffff;
}

.closeDiv {
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: end;
}

.close {
    height: 2rem;
    cursor: pointer;
}

.profilDiv {
    display: flex;
    align-items: center;
}


.profileImg,
.profileInitials {
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin-left: 4rem;
    margin-right: 2rem;
    color: #f6f7f8;
}

.addNewContactDiv {
    margin-top: 1rem;
    margin-left: 3.5rem;
    margin-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid;
    border-width: 0.06rem;
    border-color: #a6adb3;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.addNewContactDiv:focus-within {
    border-color: #29abe2;
}

.addNewContact {
    border: 0;
    width: 20rem;
    height: 3rem;
}

.addNewContact:hover {
    border-color: #29abe2;
}

.addNewContactIcon {
    width: 2rem;
}

.clear-button {
    background-color: #ffffff;
    color: #293647;
    border: solid 1px #293647;
}

.clear-button,
.create-button {
    display: flex;
    justify-content: center;
}

.accept {
    display: flex;
    justify-content: center;
    margin-left: 11rem;
}

.accept > .create-button {
    margin-left: 1rem;
}

.save-close {
    width: 1.5rem;
    height: 1.5rem;
}

@media (max-width: 1440px) {
    .contactList {
        width: 60%;
        height: 100%;
    }

    .addContactBtn-mobile,
    .editContactBtn-mobile{ 
        display: block;
        background-color: #293647;
        position: fixed;
        height: 60px;
        width: 60px;
        border-radius: 10rem;
        bottom: 120px;
        right: 12px;
    }

    .contact-headline-mobile {
        display: flex;   
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 50px;
        margin-left: 20px;
    }

    .contact-headline {
        display: none;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .separating-line-mobile {
        width: 7rem;
        height: 3px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        background-color: #29abe2;
    }

    .showArrowMobile {
        display: block;
        position: fixed;
        right: 24px;
    }

    .newContact-mobile {
        margin: auto;
        height: 28px;
    }

    .dotted {
        background-color: #ffffff;
        width: 6px;
        height: 6px;
        border-radius: 2rem;
        margin: 3px;
        margin-right: auto;
        margin-left: auto;
    }

    .editMobile {
        position: fixed;
        display: block;
        width: 120px;
        height: 110px;
        box-shadow: 1px 1px 2px -6px rgba(0,0,0,0.51);
        -webkit-box-shadow: 1px 1px 26px -6px rgba(0,0,0,0.51);
        -moz-box-shadow: 2px 29px 26px -6px rgba(192, 133, 133, 0.51);
        bottom: 120px;
        right: 120px;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }

     .editDivMobile {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newContactOverlay,
    .editContactOverlay {
        top: 50%;
        left: 50%;
        height: 50rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .closeMobile {
        display: block;
    }

    .close {
      display: none;
    }

    .contactLogo {
        display: none;
    }

    .headDiv {
        /* height: 50%; */
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        border-bottom-left-radius: 0;
    }

    .editDiv {
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
        background-color: aquamarine;
    }

    .profilDiv {
        display: flex;
        flex-direction: column;
    }

    .profileImg,
    .profileInitials,
    .addNewContactDiv {
        margin-left: auto;
        margin-right: auto;
    }

    .profileImg {
        margin-top: 0;
    }

    .addNewContactDiv{
        margin-bottom: 4px;
    }

    .cancel-button {
        display: none;
    }
}

@media (max-width: 1008px) {
  .main-content {
    display: flex !important;
  }

}