
.myMain {
    display: flex;
}

.contactList {
    max-width: 420px;
}

button {
    margin-top: 1rem;
}

.btn {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.newContact {
    height: 28px;
    padding-left: 1rem;
    padding-right: 1rem;
}

h2 {
    font-size: 60px;
    font-weight: bold;
}

.separating-line {
    width: 2px;
    height: 4rem;
    background-color: #29abe2;
    margin-left: 20px;
    margin-right: 20px;
}

.team {
    color: #404447;
    font-size: 24px;
}

.person {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    border-radius: 0.5rem;
    align-items: center;
}

.person:hover {
    background-color: #293647;
}

.initial {
    margin-right: 4rem;
    width: 5rem;
    height: 3.5rem;
    align-content: center;
    border-radius: 6rem;
    background-color: orange;
    color: white;
    font-size: 2rem;
}

.mail {
    color: #29abe2;
    text-align: start;
}

.details {
    width: 100%;
    background-color: #ced0d2;
}

.contact-headline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-left: 120px;
}

.initialOverlay {
    margin-right: 4rem;
    width: 6rem;
    height: 6rem;
    align-content: center;
    border-radius: 6rem;
    background-color: orange;
    color: white;
    font-size: 4rem; 
}

.myNames {
    display: flex;
    justify-content: center;
}

.contactIcons{
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.editIcon {
    height: 1rem;
    padding-left: 1.5rem;
    
}